/* Typography */
@font-face {
  font-family: 'Tiempos Headline';
  src: url('../../static/fonts/TiemposHeadline-Semibold.woff2') format('woff2'),
      url('../../static/fonts/TiemposHeadline-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
font-family: 'Apercu';
src: url('../../static/fonts/Apercu-Regular.woff2') format('woff2'),
    url('../../static/fonts/Apercu-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Apercu';
src: url('../../static/fonts/Apercu-Bold.woff2') format('woff2'),
    url('../../static/fonts/Apercu-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Apercu';
src: url('../../static/fonts/Apercu-Italic.woff2') format('woff2'),
    url('../../static/fonts/Apercu-Italic.woff') format('woff');
font-weight: normal;
font-style: italic;
font-display: swap;
}

body {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../../static/images/so-white.png');
}

.intro__img {
  display: none;
}

@media screen and (min-width: 768px) {
  .intro {
    align-items: center;
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template-columns: 2fr 1fr;
  }

  .intro__img {
    display: block;
  }
}

.card .card__icon {
  align-self: end;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.card:hover .card__icon {
  opacity: 1;
}

.u-yellow-decor {
  border-bottom: 6px solid #fce21b;
}

