/* Typography */
@font-face {
  font-family: 'Tiempos Headline';
  src: url('../../static/fonts/TiemposHeadline-Semibold.woff2') format('woff2'),
      url('../../static/fonts/TiemposHeadline-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
font-family: 'Apercu';
src: url('../../static/fonts/Apercu-Regular.woff2') format('woff2'),
    url('../../static/fonts/Apercu-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Apercu';
src: url('../../static/fonts/Apercu-Bold.woff2') format('woff2'),
    url('../../static/fonts/Apercu-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Apercu';
src: url('../../static/fonts/Apercu-Italic.woff2') format('woff2'),
    url('../../static/fonts/Apercu-Italic.woff') format('woff');
font-weight: normal;
font-style: italic;
font-display: swap;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
